*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222; /* Couleur de fond de la page web (hors jeu) */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}
canvas {
  border: 2px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #000; /* Fond noir en attendant que l'image charge */
}
#info {
  position: absolute;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  z-index: 10;
}
